<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzq.labsystem.mapper.EquipmentMapper">
  <resultMap id="BaseResultMap" type="com.wzq.labsystem.dto.po.Equipment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ser_numb" jdbcType="VARCHAR" property="serNumb" />
    <result column="rom_id" jdbcType="BIGINT" property="romId" />
    <result column="eq_class_id" jdbcType="BIGINT" property="eqClassId" />
    <result column="buy_time" jdbcType="TIMESTAMP" property="buyTime" />
    <result column="repair_times" jdbcType="TIMESTAMP" property="repairTimes" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="state" jdbcType="TINYINT" property="state" />
  </resultMap>

  <resultMap id="EquipmentResultMap" type="com.wzq.labsystem.dto.EquipmentDto">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="ser_numb" jdbcType="VARCHAR" property="serNumb" />
    <result column="rom_id" jdbcType="BIGINT" property="romId" />
    <result column="rom_numb" jdbcType="BIGINT" property="romNumb" />
    <result column="rom_name" jdbcType="VARCHAR" property="romName" />
    <result column="eq_class_id" jdbcType="BIGINT" property="eqClassId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="buy_time" jdbcType="TIMESTAMP" property="buyTime" />
    <result column="repair_times" jdbcType="TIMESTAMP" property="repairTimes" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="state" jdbcType="TINYINT" property="state" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from equipment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wzq.labsystem.dto.po.Equipment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into equipment (ser_numb, rom_id, eq_class_id, 
      buy_time, repair_times, update_time, 
      `state`)
    values (#{serNumb,jdbcType=BIGINT}, #{romId,jdbcType=BIGINT}, #{eqClassId,jdbcType=BIGINT}, 
      #{buyTime,jdbcType=TIMESTAMP}, #{repairTimes,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wzq.labsystem.dto.po.Equipment">
    update equipment
    set ser_numb = #{serNumb,jdbcType=BIGINT},
      rom_id = #{romId,jdbcType=BIGINT},
      eq_class_id = #{eqClassId,jdbcType=BIGINT},
      buy_time = #{buyTime,jdbcType=TIMESTAMP},
      repair_times = #{repairTimes,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      `state` = #{state,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="EquipmentResultMap">
    select e.id, e.ser_numb, e.rom_id,r.numb as rom_numb,r.rom_name, e.eq_class_id,c.type_name, e.buy_time, e.repair_times, e.update_time, e.`state`
    from equipment e
    left join roms r on e.rom_id = r.id
    left join equipment_class c on c.id = e.eq_class_id
    where eid = #{id,jdbcType=BIGINT}
  </select>
  <!-- 查询设备 -->
  <select id="selectAll" resultMap="EquipmentResultMap">
    select e.id, e.ser_numb, e.rom_id,r.numb as rom_numb, r.rom_name, e.eq_class_id,c.type_name, e.buy_time, e.repair_times, e.update_time, e.`state`
    from equipment e
    left join roms r on e.rom_id = r.id
    left join equipment_class c on c.id = e.eq_class_id
    <where>
      <if test="romId != null">
        and e.rom_id = #{romId}
      </if>
      <if test="romNumb != null">
        and r.numb = #{romNumb}
      </if>
      <if test="romName != null">
        and r.rom_name = #{romName}
      </if>
      <if test="serNumb != null and serNumb != ''">
        and e.ser_numb = #{serNumb}
      </if>
      <if test="eqClassId != null">
        and e.eq_class_id = #{eqClassId}
      </if>
      <if test="typeName != null and typeName != ''">
         and c.type_name = #{typeName}
      </if>
      <if test="state != null">
        and e.state = #{state}
      </if>
    </where>
    order by e.update_time desc
    <if test="pageNo != null  and  pageSize != null ">
      limit #{pageNo},#{pageSize}
    </if>
  </select>
  <!-- 查询总数 -->
  <select id="selectCount" resultType="java.lang.Long">
    select count(*)
    from equipment e
    left join roms r on e.rom_id = r.id
    left join equipment_class c on c.id = e.eq_class_id
    <where>
        <if test="romId != null">
            and e.rom_id = #{romId}
        </if>
        <if test="romNumb != null">
            and r.numb = #{romNumb}
        </if>
        <if test="romName != null">
            and r.rom_name = #{romName}
        </if>
        <if test="serNumb != null and serNumb != ''">
            and e.ser_numb = #{serNumb}
        </if>
        <if test="eqClassId != null">
            and e.eq_class_id = #{eqClassId}
        </if>
        <if test="typeName != null and typeName != ''">
            and c.type_name = #{typeName}
        </if>
        <if test="state != null">
            and e.state  = #{state}
        </if>
    </where>
  </select>

    <!-- 查询已分配设备 -->
    <select id="selectAllocated" resultMap="EquipmentResultMap">
        select e.id, e.ser_numb, e.rom_id,r.numb,r.rom_name, e.eq_class_id,c.type_name, e.buy_time, e.repair_times, e.update_time, e.`state`
        from equipment e
        left join roms r on e.rom_id = r.id
        left join equipment_class c on c.id = e.eq_class_id
        where e.rom_id &lt;&gt; 0
            <if test="romNumb != null">
                and r.numb = #{romNumb}
            </if>
            <if test="romName != null">
                and r.rom_name = #{romName}
            </if>
            <if test="serNumb != null and serNumb != ''">
                and e.ser_numb = #{serNumb}
            </if>
            <if test="eqClassId != null">
                and e.eq_class_id = #{eqClassId}
            </if>
            <if test="typeName != null and typeName != ''">
                and c.type_name = #{typeName}
            </if>
            <if test="state != null">
                and e.state = #{state}
            </if>
        order by e.update_time desc
        limit #{pageNo},#{pageSize}
    </select>
    <!-- 查询总数 -->
    <select id="selectCountAllocated" resultType="java.lang.Long">
        select count(*)
        from equipment e
        left join roms r on e.rom_id = r.id
        left join equipment_class c on c.id = e.eq_class_id
        where e.rom_id &lt;&gt; 0
            <if test="romNumb != null">
                and r.numb = #{romNumb}
            </if>
            <if test="romName != null">
                and r.rom_name = #{romName}
            </if>
            <if test="serNumb != null and serNumb != ''">
                and e.ser_numb = #{serNumb}
            </if>
            <if test="eqClassId != null">
                and e.eq_class_id = #{eqClassId}
            </if>
            <if test="typeName != null and typeName != ''">
                and c.type_name = #{typeName}
            </if>
            <if test="state != null">
                and e.state = #{state}
            </if>
        order by e.update_time desc
    </select>

    <!-- 查询未分配设备 -->
    <select id="selectUnallocated" resultMap="EquipmentResultMap">
        select e.id, e.ser_numb, e.rom_id,r.numb,r.rom_name, e.eq_class_id,c.type_name, e.buy_time, e.repair_times, e.update_time, e.`state`
        from equipment e
        left join roms r on e.rom_id = r.id
        left join equipment_class c on c.id = e.eq_class_id
        where e.rom_id = 0
        <if test="serNumb != null and serNumb != ''">
            and e.ser_numb = #{serNumb}
        </if>
        <if test="eqClassId != null">
            and e.eq_class_id = #{eqClassId}
        </if>
        <if test="typeName != null and typeName != ''">
            and c.type_name = #{typeName}
        </if>
        <if test="state != null">
            and e.state  = #{state}
        </if>
        order by e.update_time desc
        limit #{pageNo},#{pageSize}
    </select>
    <!-- 查询总数 -->
    <select id="selectCountUnallocated" resultType="java.lang.Long">
        select count(*)
        from equipment e
        left join roms r on e.rom_id = r.id
        left join equipment_class c on c.id = e.eq_class_id
        where e.rom_id = 0
        <if test="serNumb != null and serNumb != ''">
            and e.ser_numb = #{serNumb}
        </if>
        <if test="eqClassId != null">
            and e.eq_class_id = #{eqClassId}
        </if>
        <if test="typeName != null and typeName != ''">
            and c.type_name = #{typeName}
        </if>
        <if test="state != null">
            and e.state = #{state}
        </if>
        order by e.update_time desc
    </select>
</mapper>