<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzq.labsystem.mapper.EquipmentLogMapper">
  <resultMap id="BaseResultMap" type="com.wzq.labsystem.dto.po.EquipmentLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="handle_user_id" jdbcType="BIGINT" property="handleUserId" />
    <result column="eq_class_id" jdbcType="BIGINT" property="eqClassId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="need" jdbcType="VARCHAR" property="need" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="handle_time" jdbcType="TIMESTAMP" property="handleTime" />
  </resultMap>

  <resultMap id="EquipmentLogResultMap" type="com.wzq.labsystem.dto.EquipmentLogDto">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="apply_name" jdbcType="VARCHAR" property="applyName" />
    <result column="handle_user_id" jdbcType="BIGINT" property="handleUserId" />
    <result column="handle_user_name" jdbcType="VARCHAR" property="handleUserName" />
    <result column="eq_class_id" jdbcType="BIGINT" property="eqClassId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="need" jdbcType="VARCHAR" property="need" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="handle_time" jdbcType="TIMESTAMP" property="handleTime" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from equipment_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wzq.labsystem.dto.po.EquipmentLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into equipment_log (user_id, handle_user_id, eq_class_id, 
      `type`, title, need, 
      `result`, `state`, creat_time, 
      handle_time)
    values (#{userId,jdbcType=BIGINT}, #{handleUserId,jdbcType=BIGINT}, #{eqClassId,jdbcType=BIGINT}, 
      #{type,jdbcType=TINYINT}, #{title,jdbcType=VARCHAR}, #{need,jdbcType=VARCHAR}, 
      #{result,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, #{creatTime,jdbcType=TIMESTAMP}, 
      #{handleTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wzq.labsystem.dto.po.EquipmentLog">
    update equipment_log
    set user_id = #{userId,jdbcType=BIGINT},
      handle_user_id = #{handleUserId,jdbcType=BIGINT},
      eq_class_id = #{eqClassId,jdbcType=BIGINT},
      `type` = #{type,jdbcType=TINYINT},
      title = #{title,jdbcType=VARCHAR},
      need = #{need,jdbcType=VARCHAR},
      `result` = #{result,jdbcType=VARCHAR},
      `state` = #{state,jdbcType=TINYINT},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      handle_time = #{handleTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="EquipmentLogResultMap">
    select l.id, l.user_id,u.name as apply_name, l.handle_user_id,h.name as handle_user_name,
    l.eq_class_id,c.type_name, l.`type`, l.title, l.need, l.`result`, l.`state`, l.creat_time, l.handle_time
    from equipment_log l
    left join users u on u.id = l.user_id
    left join users h on h.id = l.handle_user_id
    left join equipment_class c on c.id = l.eq_class_id
    where l.id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="EquipmentLogResultMap">
    select l.id, l.user_id,u.name as apply_name, l.handle_user_id,h.name as handle_user_name,
    l.eq_class_id,c.type_name, l.`type`, l.title, l.need, l.`result`, l.`state`, l.creat_time, l.handle_time
    from equipment_log l
    left join users u on u.id = l.user_id
    left join users h on h.id = l.handle_user_id
    left join equipment_class c on c.id = l.eq_class_id
    <where>
      <if test="userId != null">
        and l.user_id = #{userId}
      </if>
      <if test="applyName != null and applyName != ''">
        and u.name = #{applyName}
      </if>
      <if test="handleUserId != null ">
        and l.handle_user_id = #{handleUserId}
      </if>
      <if test="handleUserName != null and handleUserName != ''">
        and h.name = #{handleUserName}
      </if>
      <if test="eqClassId != null ">
        and l.eq_class_id = #{eqClassId}
      </if>
      <if test="typeName != null and typeName != ''">
        and c.type_name = #{typeName}
      </if>
      <if test="type != null">
        and l.type = #{type}
      </if>
      <if test="state != null ">
        and l.state = #{state}
      </if>
    </where>
    order by creat_time desc
    limit #{pageNo},#{pageSize}
  </select>

  <!-- 查询总数 -->
  <select id="selectCount" resultType="java.lang.Long">
    select count(*)
    from equipment_log l
    left join users u on u.id = l.user_id
    left join users h on h.id = l.handle_user_id
    left join equipment_class c on c.id = l.eq_class_id
    <where>
        <if test="userId != null">
            and l.user_id = #{userId}
        </if>
        <if test="applyName != null and applyName != ''">
            and u.name = #{applyName}
        </if>
        <if test="handleUserId != null ">
            and l.handle_user_id = #{handleUserId}
        </if>
        <if test="handleUserName != null and handleUserName != ''">
            and h.name = #{handleUserName}
        </if>
        <if test="eqClassId != null ">
            and l.eq_class_id = #{eqClassId}
        </if>
        <if test="typeName != null and typeName != ''">
            and c.type_name = #{typeName}
        </if>
        <if test="state != null ">
            and l.state = #{state}
        </if>
    </where>
  </select>
</mapper>