<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzq.labsystem.mapper.IdentityResourseMapper">
  <resultMap id="BaseResultMap" type="com.wzq.labsystem.dto.po.IdentityResourse">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="identity_id" jdbcType="BIGINT" property="identityId" />
    <result column="resourse_id" jdbcType="BIGINT" property="resourseId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from identity_resourse
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wzq.labsystem.dto.po.IdentityResourse">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into identity_resourse (identity_id, resourse_id)
    values (#{identityId,jdbcType=BIGINT}, #{resourseId,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wzq.labsystem.dto.po.IdentityResourse">
    update identity_resourse
    set identity_id = #{identityId,jdbcType=BIGINT},
      resourse_id = #{resourseId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, identity_id, resourse_id
    from identity_resourse
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, identity_id, resourse_id
    from identity_resourse
  </select>
</mapper>